:root {
    --main-colour: #16C47F;
    --second-colour: #FFD65A;
    --third-colour: #376E5E;
    --trim-colour: #3D3D3D;
    --bg-grey: #c7c7c7;
    --font-size: 18px;
    --font-style: verdana; 
    --line-height: 1.4em;
    --heading-height: 1.2em;
    --font-weight: 500;
    --text-colour: #444;
    --heading-colour: #222;
}


#main-home {
    float: left;
    width: 75%;
}

#sidebar {
    position: fixed;
    width: 15%;
    bottom: 0;
    right: 0;
    top: 0;
    padding: 180px 30px;
    background-color: var(--bg-grey);
    border-left: 2px solid black;
}

.column {
   float: left;
   width: 50%;
}

.row {
    padding: 40px 20px;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

body {
    color: var(--text-colour);
    font-size: var(--font-size);
    font-family: var(--font-style);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
    padding: 50px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-colour);
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: var(--heading-height);
    font-weight: 700;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

img {
    width: auto;
    max-height: 300px;
    display: block;
    margin: auto;
}

a:link {
    color: var(--third-colour)
}

a:visited, a:hover, a:active {
    color: var(--trim-colour);
}