{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'shop/stylesheet.css' %}">
    <title>Products</title>
</head>
<body>
    {% block body %}
    

    {% for product in product_list %}
        <div>
            <img style="width: auto; height: 200px;" src="{{ product.image.url }}">
            <h3>{{ product.itemName }}</h3>
            <p>{{ product.description }} </p>
            <h4>$ {{ product.price }} </h4>
            {% if product.stockCount > 0 %}
                <h4>Stock: {{ product.stockCount }} </h4>
            {% else %}
                <h4>Out of stock</h4>
            {% endif %}
            <a href="{% url 'shop:product_detail_view' product.id %}">Learn more</a>
        </div>
    {% endfor %}


    {% if product_list.has_previous %}

    <a href="?page=1">First page</a>
    <a href="?page={{product_list.previous_page_number}}">Previous page</a>

    {% endif %}

    <p>Page: {{ product_list.number }} out of {{ product_list.paginator.num_pages }}</p>

    {% if product_list.has_next %}

        <a href="?page={{product_list.next_page_number}}">Next page</a>
        <a href="?page={{product_list.paginator.num_pages}}">Last page</a>

    {% endif %}

    {% endblock %}
</body>
</html>